<div class="center">
    <h1>Sandbox</h1>
</div>

<div class="text-container">
    <div class="flex">
        <a class="small image" href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API" target="_blank">
            <img class="full-width" src="../../public/images/html5.png">
        </a>
        <div class="flex-auto">
            <div>HTML Canvas</div>
            <div>
                <ul>
                    <li><a class="standard-link" routerLink="/sandbox/fireworks">Fireworks</a></li>
                    <li><a class="standard-link" routerLink="/sandbox/particles">Particles</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="text-container">
    <div class="flex">
        <a class="small image" href="http://wellcaffeinated.net/PhysicsJS/" target="_blank">
            <img class="full-width" src="../../public/images/physicsjs.png">
        </a>
        <div class="flex-auto">
            <div>Physics JS</div>
            <div>
                <ul>
                    <li><a class="standard-link" routerLink="/sandbox/physicsIntro">PhysicsJS Intro</a></li>
                    <li><a class="standard-link" routerLink="/sandbox/particlesTwo">Particles Two</a></li>
                    <li><a class="standard-link" routerLink="/sandbox/solarSystem">Solar System</a></li>
                    <li><a class="standard-link" routerLink="/sandbox/bridge">Bridge</a></li>
                    <li><a class="standard-link" routerLink="/sandbox/carSim">Angular Acceleration</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="text-container">
    <div class="flex">
        <a class="small image">
            <img class="full-width" src="../../public/images/other-development.png">
        </a>
        <div class="flex-auto">
            <div>Other Development</div>
            <div>
                <ul>
                    <li><a class="standard-link" routerLink="/sandbox/montyHall">Monty Hall Paradox</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div>
    <rr-footer></rr-footer>
</div>