<div>
    this is the sandbox page
</div>
<div class="ui bulleted list">
    <a class="item" routerLink="/sandbox/fireworks">Fireworks</a>
    <a class="item" routerLink="/sandbox/particles">Particles</a>
    <a class="item" routerLink="/sandbox/physicsIntro">PhysicsJS Intro</a>
    <a class="item" routerLink="/sandbox/particlesTwo">Particles Two</a>
    <a class="item" routerLink="/sandbox/solarSystem">Solar System</a>
    <a class="item" routerLink="/sandbox/bridge">Bridge</a>
    <a class="item" routerLink="/sandbox/carSim">Angular Acceleration</a>
    <a class="item" routerLink="/sandbox/montyHall">Monty Hall</a>
</div>