<div class="ui inverted vertical segment">
    <div class="ui four column doubling stackable grid container my3">
        <div class="column">
            <a href="https://angular.io/" target="_blank">
                <img class="ui small centered image" src="../../public/images/angular.png">
            </a>
        </div>
        <div class="column">
            <a href="http://semantic-ui.com/" target="_blank">
                <img class="ui small centered image" src="../../public/images/semantic.png">
            </a>
        </div>
        <div class="column">
            <a href="http://basscss.com/" target="_blank">
                <img class="ui small centered image" src="../../public/images/basscss.png">
            </a>
        </div>
        <div class="column">
            <a href="https://webpack.js.org/" target="_blank">
                <img class="ui small centered image" src="../../public/images/webpack.png">
            </a>
        </div>
    </div>
    <div class="ui center aligned container">
        Made by Ryan Rasmussen &copy; 2017
    </div>
</div>