@import "../../public/styles/variables";

:host {
  display: block;
}

.footer {
   background-color: $menu-bar-color;

   .footer-image-wrapper {
     width: 800px;
   }

   .footer-image img {
     width: 150px;
     max-height: 150px;
   }

  .copyright {
    color: white;
  }
 }