<div class="bgc-grey-800 text-center">
    <div layout layout-align="center center">
        <div layout layout-align="space-between center" class="footer-image-wrapper pad-top-lg pad-bottom-md">
            <div class="footer-image">
                <a href="https://angular.io/" target="_blank">
                    <img class="ui small centered image" src="../../public/images/angular.png">
                </a>
            </div>
            <div class="footer-image">
                <a href="https://teradata.github.io/covalent/" target="_blank">
                    <img class="ui small centered image" src="../../public/images/covalent.svg">
                </a>
            </div>
            <div class="footer-image">
                <a href="https://webpack.js.org/" target="_blank">
                    <img class="ui small centered image" src="../../public/images/webpack.png">
                </a>
            </div>
        </div>
    </div>
    <div class="tc-grey-50">
        Made by Ryan Rasmussen &copy; 2017
    </div>
</div>