<div class="center">
    <div class="flex justify-center items-center">
        <div class="footer-image-wrapper flex justify-between items-center">
            <div class="footer-image">
                <a href="https://angular.io/" target="_blank">
                    <img class="small centered image" src="../../public/images/angular.png">
                </a>
            </div>
            <div class="footer-image">
                <a href="https://teradata.github.io/covalent/" target="_blank">
                    <img class="small centered image" src="../../public/images/covalent.svg">
                </a>
            </div>
            <div class="footer-image">
                <a href="https://webpack.js.org/" target="_blank">
                    <img class="small centered image" src="../../public/images/webpack.png">
                </a>
            </div>
        </div>
    </div>
    <div>
        Made by Ryan Rasmussen &copy; 2017
    </div>
</div>