<div class="text-center bgc-dark-grey-B15 tc-grey-50 pad-xl">
    <h1 class="md-display-2 push-top-none">Ryan Rasmussen</h1>
    <h3 class="md-headline push-none">Software Engineer</h3>
    <h5 class="md-subhead push-none">Papillion, Nebraska</h5>
    <div class="pad">
        <a md-raised-button class="bgc-blue-400 push-right-sm" href="http://www.linkedin.com/in/ryanrasmussen05" target="_blank">
            LinkedIn
        </a>
        <a md-raised-button class="tc-grey-900" href="https://github.com/ryanrasmussen05" target="_blank">
            GitHub
        </a>
    </div>
</div>



<div class="ui text container mt3">
    <h2 class="ui header">About</h2>
    <div class="mb2">
        I am a full-stack web developer and an Android developer in my spare time.  I built this site using
        <span class="bold">Angular 2 with TypeScript</span>, <span class="bold">Semantic UI</span>, <span class="bold">Basscss</span>, and <span class="bold">Webpack</span>
         as a way to stay up-to-date on the latest browser technologies, and as a sandbox for learning to use various libraries.
    </div>
    <a class="ui button" routerLink="/resume">Resume</a>
</div>

<div class="ui container divider my3"></div>

<img class="ui centered medium image" src="../../public/images/rhino_logo-teal.png">

<div class="ui text container mt3">
    <h2 class="ui header">Android Development</h2>
    <div class="mb2">
        I publish apps to Google Play under the developer name <span class="bold">Rhino Development</span>.
        I currently have two apps in the store, and a custom Asteroids game that I hope to publish soon.
    </div>
    <div class="ui items mt4">
        <div class="item mt3 mb0" *ngFor="let androidApp of androidApps">
            <a class="ui image small" href="{{androidApp.url}}" target="_blank">
                <img [src]="getImage(androidApp.image)">
            </a>
            <div class="content">
                <a class="header" href="{{androidApp.url}}" target="_blank">{{androidApp.title}}</a>
                <div class="description">
                    <p>{{androidApp.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui container divider my3"></div>

<div class="ui text container mt3">
    <h2 class="ui header">Sandbox</h2>
    <div class="mb2">
        This is the area I use to store various components I create while learning new/interesting libraries.
    </div>
    <a class="ui button" routerLink="/sandbox">Sandbox</a>
</div>

<div class="ui container divider my3 pb4"></div>

<rr-footer></rr-footer>