<div class="ui inverted vertical center aligned segment">
    <h1 class="ui header mt4 mb0 ">Ryan Rasmussen</h1>

    <h3 class="ui header mt3 mb0">Software Engineer</h3>
    <h5 class="ui header mt0 mb3">Papillion, Nebraska</h5>

    <div class="mt0 mb4">
        <a class="ui huge linkedin button" href="http://www.linkedin.com/in/ryanrasmussen05" target="_blank">
            <i class="linkedin icon"></i>LinkedIn
        </a>
        <a class="ui huge button" href="https://github.com/ryanrasmussen05" target="_blank">
            <i class="github icon"></i>GitHub
        </a>
    </div>
</div>

<div class="ui text container mt3">
    <h2 class="ui header">About</h2>
    <div class="mb2">
        I am a full-stack web developer and an Android developer in my spare time.  I built this site using
        <span class="bold">Angular 2</span>, <span class="bold">Semantic UI</span>, <span class="bold">Basscss</span>, and <span class="bold">Webpack</span>
         as a way to stay up-to-date on the latest browser technologies, and as a sandbox for learning to use various libraries.
    </div>
    <a class="ui button" routerLink="/resume">Resume</a>
</div>

<div class="ui container divider my3"></div>

<img class="ui centered medium image" src="../../public/images/rhino_logo-teal.png">

<div class="ui text container mt3">
    <h2 class="ui header">Android Development</h2>
    <div class="mb2">
        I publish apps to Google Play under the developer name <span class="bold">Rhino Development</span>
        I currently have two apps in the store, and a custom Asteroids game that I hope to publish soon.
    </div>
    <div class="ui items mt4">
        <div class="item mt3 mb0">
            <a class="ui image small" href="https://play.google.com/store/apps/details?id=com.rhino.sacsphero" target="_blank">
                <img src="../../public/images/sac.png">
            </a>
            <div class="content">
                <a class="header" href="https://play.google.com/store/apps/details?id=com.rhino.sacsphero" target="_blank">SAC Sphero Labyrinth</a>
                <div class="description">
                    <p>I wrote this app for the Strategic Air Command & Aerospace Museum to use for education purposes.  The app connects
                    to a Sphero robot via bluetooth, and allows the user to send direction commands to navigate the Sphero through a maze.</p>
                </div>
            </div>
        </div>
        <div class="item mt3 mb0">
            <a class="ui image small" href="https://play.google.com/store/apps/details?id=com.rhino.foscam" target="_blank">
                <img src="../../public/images/foscam.png">
            </a>
            <div class="content">
                <a class="header" href="https://play.google.com/store/apps/details?id=com.rhino.foscam" target="_blank">Foscam Control Center</a>
                <div class="description">
                    <p>My first attempt at a full featured Android application, I wrote Foscam Control Center to control older model Foscam IP Cameras
                    because I found the other available Android applications clunky and hard to use.  This was a successful app for older model Foscams when
                    it I wrote it several years ago, but with many new models coming out, this app is more or less obsolete, and no longer being maintained.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui container divider my3"></div>

<div class="ui text container mt3">
    <h2 class="ui header">Sandbox</h2>
    <div class="mb2">
        Blurb about sandbox development
    </div>
    <a class="ui button" routerLink="/sandbox">Sandbox</a>
</div>

<div class="ui container divider my3"></div>

<div class="ui inverted vertical segment">
    <div class="ui four column doubling stackable grid container my3">
        <div class="column">
            <a href="https://angular.io/" target="_blank">
                <img class="ui small centered image" src="../../public/images/angular.png">
            </a>
        </div>
        <div class="column">
            <a href="http://semantic-ui.com/" target="_blank">
                <img class="ui small centered image" src="../../public/images/semantic.png">
            </a>
        </div>
        <div class="column">
            <a href="http://basscss.com/" target="_blank">
                <img class="ui small centered image" src="../../public/images/basscss.png">
            </a>
        </div>
        <div class="column">
            <a href="https://webpack.js.org/" target="_blank">
                <img class="ui small centered image" src="../../public/images/webpack.png">
            </a>
        </div>
    </div>
    <div class="ui center aligned container">
        Made by Ryan Rasmussen &copy; 2017
    </div>
</div>