@import "variables";

$primary-color: $primary-theme-color;
$secondary-color: $secondary-theme-color;

//
// BUTTON
//
$button-radius: 3px;
$button-margin: 0;
$button-padding: 0.65em 1em;

//
// TOP BAR
//
$topbar-background: $menu-bar-color;
$topbar-padding: 0;