@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
@import '~@covalent/core/common/platform';

@include mat-core();

$primaryMaterialMap: mat-palette($mat-blue, 900);
$accentMaterialMap: mat-palette($mat-orange, 500);

$primaryColor: map_get($primaryMaterialMap, default);
$accentColor: map_get($accentMaterialMap, default);

$theme: mat-light-theme($primaryMaterialMap, $accentMaterialMap);

@include angular-material-theme($theme);
@include covalent-theme($theme);