@mixin flex-auto {
  -webkit-box-flex:1;
  -webkit-flex:1 1 auto;
  -ms-flex:1 1 auto;
  flex:1 1 auto;
  min-width:0;
  min-height:0;
}

@mixin flex {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex
}