<div layout layout-align="start center" class="pad bgc-dark-grey-B15 tc-grey-50">
    <md-checkbox [(ngModel)]="gravity" class="push-right-lg">Gravity</md-checkbox>
    <md-checkbox [(ngModel)]="collisions" class="push-right-lg">Collisions</md-checkbox>
    <md-select [(ngModel)]="orbs">
        <md-option value="10" (click)="setOrbs('10')">10 Orbs</md-option>
        <md-option value="20" (click)="setOrbs('20')">20 Orbs</md-option>
        <md-option value="30" (click)="setOrbs('30')">30 Orbs</md-option>
        <md-option value="40" (click)="setOrbs('40')">40 Orbs</md-option>
        <md-option value="50" (click)="setOrbs('50')">50 Orbs</md-option>
    </md-select>
</div>
<div #canvasWrapper flex>
    <canvas #canvas></canvas>
</div>