<div class="flex-none flex justify-start items-center">
    <!--<md-checkbox [(ngModel)]="gravity" class="push-right-lg">Gravity</md-checkbox>-->
    <!--<md-checkbox [(ngModel)]="collisions" class="push-right-lg">Collisions</md-checkbox>-->
    <!--<md-select [(ngModel)]="orbs">-->
        <!--<md-option value="10" (click)="setOrbs('10')">10 Orbs</md-option>-->
        <!--<md-option value="20" (click)="setOrbs('20')">20 Orbs</md-option>-->
        <!--<md-option value="30" (click)="setOrbs('30')">30 Orbs</md-option>-->
        <!--<md-option value="40" (click)="setOrbs('40')">40 Orbs</md-option>-->
        <!--<md-option value="50" (click)="setOrbs('50')">50 Orbs</md-option>-->
    <!--</md-select>-->
</div>
<div #canvasWrapper class="flex-auto" style="background-color: black">
    <canvas #canvas></canvas>
</div>