md-checkbox /deep/ .mat-checkbox-frame {
  border-color: #fafafa !important;
}

md-select {
  & /deep/ .mat-select-value-text, /deep/ .mat-select-arrow {
    color: #fafafa !important;
  }
  & /deep/ .mat-select-underline {
    background-color: #fafafa !important;
  }
}


