<div layout="column" class="fullscreen">
        <div flex layout layout-align="space-between center">
            <h1>Ryan Rasmussen</h1>
            <div>
                <button routerLink="/home" routerLinkActive="active-link">Home</button>
                <button routerLink="/resume" routerLinkActive="active-link">Resume</button>
                <button routerLink="/sandbox" routerLinkActive="active-link">Sandbox</button>
            </div>
        </div>
    <div flex class="scroll">
        <router-outlet></router-outlet>
    </div>
</div>