<div class="fullscreen flex flex-column">
    <div class="top-bar flex-none px2">
        <span class="page-title">Ryan Rasmussen</span>
        <div>
            <button routerLink="/home" routerLinkActive="active">Home</button>
            <button routerLink="/resume" routerLinkActive="active">Resume</button>
            <button routerLink="/sandbox" routerLinkActive="active">Sandbox</button>
        </div>
    </div>
    <div class="overflow-scroll flex-auto">
        <router-outlet></router-outlet>
    </div>
</div>