<div class="fullscreen flex flex-column">
    <div class="menu-bar flex-none flex justify-between items-center px2">
        <span class="page-title nowrap">Ryan Rasmussen</span>
        <div class="flex">
            <button routerLink="/home" routerLinkActive="active">Home</button>
            <button routerLink="/resume" routerLinkActive="active">Resume</button>
            <button routerLink="/sandbox" routerLinkActive="active">Sandbox</button>
        </div>
    </div>
    <div class="overflow-scroll flex-auto">
        <router-outlet></router-outlet>
    </div>
</div>