<div class="flex justify-start items-center">
    <button (click)="initializeTests(false)">Run 'Stick' Test</button>
    <button (click)="initializeTests(true)">Run 'Switch' Test</button>
    <div class="flex-auto"></div>
    <button (click)="initializeGame()">Reset</button>
</div>

<div class="center">
    <h1>Monty Hall Paradox</h1>
</div>

<div class="text-container flex justify-between items-center">
    <div class="door relative" [class.open]="isDoorOpen(1)" [class.selected]="selectedDoor === 1" (click)="doorClick(1)">
        <img class="small image" [src]="getImage(1)">
        <div class="cover flex justify-center items-center">
            1
        </div>
    </div>
    <div class="door relative" [class.open]="isDoorOpen(2)" [class.selected]="selectedDoor === 2" (click)="doorClick(2)">
        <img class="small image" [src]="getImage(2)">
        <div class="cover flex justify-center items-center">
            2
        </div>
    </div>
    <div class="door relative" [class.open]="isDoorOpen(3)" [class.selected]="selectedDoor === 3" (click)="doorClick(3)">
        <img class="small image" [src]="getImage(3)">
        <div class="cover flex justify-center items-center">
            3
        </div>
    </div>
</div>

<div class="center" *ngIf="!runningTest">
    <h1 *ngIf="gameState === 'initial'">Choose a door</h1>
    <button (click)="openRandomLoser()" *ngIf="gameState === 'openLoser'">
        Open A Losing Door
    </button>
    <div *ngIf="gameState === 'stickOrSwitch'">
        <button (click)="switchDoor(false)">{{ 'Stick With Door ' + selectedDoor }}</button>
        <button (click)="switchDoor(true)">{{ 'Switch To Door ' + getOtherAvailableDoor() }}</button>
    </div>
    <button (click)="finishGame()" *ngIf="gameState === 'reveal'">Reveal</button>
    <h1 *ngIf="gameState === 'gameOver'">{{ finishText }}</h1>
    <div *ngIf="gameState === 'testCompleted'">
        <span>
            {{ 'Won: ' + winners }}
        </span>
        <span>
            {{ 'Lost: ' + losers }}
        </span>
    </div>
</div>

<div class="wide-container">
    <span class="test-output {{result}} inline-block" *ngFor="let result of testOutputs">{{result | uppercase}}</span>
</div>