<div layout layout-align="start center" class="pad bgc-dark-grey-B15 tc-grey-50">
    <button md-raised-button color="accent" (click)="initializeTests(false)" class="push-right">Run 'Stick' Test</button>
    <button md-raised-button color="accent" (click)="initializeTests(true)">Run 'Switch' Test</button>
    <div flex></div>
    <button md-raised-button color="warn" (click)="initializeGame()">Reset</button>
</div>

<div class="text-center">
    <h1 class="push-bottom-xl">Monty Hall Paradox</h1>
</div>

<div layout layout-align="space-between center" class="text-container">
    <div class="door relative" [class.open]="isDoorOpen(1)" [class.selected]="selectedDoor === 1" (click)="doorClick(1)">
        <img class="ui small image" [src]="getImage(1)">
        <div layout layout-align="center center" class="cover">
            1
        </div>
    </div>
    <div class="door relative" [class.open]="isDoorOpen(2)" [class.selected]="selectedDoor === 2" (click)="doorClick(2)">
        <img class="ui small image" [src]="getImage(2)">
        <div layout layout-align="center center" class="cover">
            2
        </div>
    </div>
    <div class="door relative" [class.open]="isDoorOpen(3)" [class.selected]="selectedDoor === 3" (click)="doorClick(3)">
        <img class="ui small image" [src]="getImage(3)">
        <div layout layout-align="center center" class="cover">
            3
        </div>
    </div>
</div>

<div class="text-center push-top-lg" *ngIf="!runningTest">
    <h1 class="md-display-1" *ngIf="gameState === 'initial'">Choose a door</h1>
    <button md-raised-button color="accent" (click)="openRandomLoser()" *ngIf="gameState === 'openLoser'">
        Open A Losing Door
    </button>
    <div *ngIf="gameState === 'stickOrSwitch'">
        <button md-raised-button color="accent" class="push-right" (click)="switchDoor(false)">{{ 'Stick With Door ' + selectedDoor }}</button>
        <button md-raised-button color="accent" (click)="switchDoor(true)">{{ 'Switch To Door ' + getOtherAvailableDoor() }}</button>
    </div>
    <button md-raised-button color="accent" (click)="finishGame()" *ngIf="gameState === 'reveal'">Reveal</button>
    <h1 class="md-display-1" *ngIf="gameState === 'gameOver'">{{ finishText }}</h1>
    <div *ngIf="gameState === 'testCompleted'">
        <span class="md-display-1">
            {{ 'Won: ' + winners }}
        </span>
        <span class="md-display-1">
            {{ 'Lost: ' + losers }}
        </span>
    </div>
</div>

<div class="wide-container push-top-md">
    <span class="test-output inline-block push-right-sm {{result}}" *ngFor="let result of testOutputs">{{result | uppercase}}</span>
</div>