<div class="ui container mb4 pb4">
    <h1 class="ui center aligned block header mt3 mb4">
        <i class="suitcase icon"></i>
        Employment
    </h1>
    <div class="ui divided items pb4">
        <div class="item py3" *ngFor="let resumeItem of resumeItems">
            <div class="ui small image self-center">
                <img [src]="getImage(resumeItem.image)">
            </div>
            <div class="content">
                <div class="header">{{resumeItem.jobTitle}}</div>
                <div>
                    <span class="bold mr1">{{resumeItem.company}}</span>
                    <span>{{resumeItem.location}}</span>
                </div>
                <div class="meta">
                    {{resumeItem.startDate + " - " + resumeItem.endDate}}
                </div>
                <div class="description ui bulleted list">
                    <div class="item" *ngFor="let bullet of resumeItem.bullets">
                        {{bullet}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="ui center aligned block header my4">
        <i class="student icon"></i>
        Education
    </h1>
    <div class="ui divided items">
        <div class="item py3" *ngFor="let educationItem of educationItems">
            <div class="ui small image self-center">
                <img [src]="getImage(educationItem.image)">
            </div>
            <div class="content">
                <div class="header">{{educationItem.degree + ", " + educationItem.minor}}</div>
                <div>
                    <span class="bold mr1">{{educationItem.school}}</span>
                </div>
                <div>
                    {{educationItem.location}}
                </div>
                <div class="description ui bulleted list">
                    <div class="item">{{"Graduated " + educationItem.graduationDate}}</div>
                    <div class="item">{{"GPA: " + educationItem.gpa}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<rr-footer></rr-footer>